.site-header{
    background-color: #61a5c8;
    color:#e8e8e8;
    height:100vh;
    font-family:  monospace;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.site-header-content
{
 margin:10px;
}
.dp{
    border-radius: 50%;
    max-width: 200px;
    height: 200px;
    align-self: center;
    box-shadow: #2f5c73 2px 2px 5px

} 

body{
    margin: 0;
}

